.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px 10px;
}

.item-1 {
  background-color: crimson;
  font-size: 30px;
  text-align: center;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: span 2;
}

.item-2 {
  background-color: tomato;
  font-size: 30px;
  text-align: center;
}

.item-3 {
  background-color: darkviolet;
  font-size: 30px;
  text-align: center;
}

.item-4 {
  background-color: chartreuse;
  font-size: 30px;
  text-align: center;
}

.container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 500px 500px 500px 100px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";

  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

.item-a {
  grid-area: header;
  background-color: crimson;
  margin: 0 10px;
  font-size: 30px;
  text-align: center;
}
.item-b {
  grid-area: main;
  background-color: tomato;
  margin: 0 10px;
  font-size: 30px;
  text-align: center;
}
.item-c {
  grid-area: sidebar;
  background-color: darkviolet;
  margin: 0 10px;
  font-size: 30px;
  text-align: center;
}
.item-d {
  grid-area: footer;
  background-color: chartreuse;
  margin: 0 10px;
  font-size: 30px;
  text-align: center;
}
